.Form{
    background-color: aqua;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.FormItem{
    background-color: #fff;
    display: flex;
    flex-direction: column;

    
}